<html>
<head>
<title></head><body>
<style>
.college
{
 text-align:center;
 font-size:4px;
 font-style:italic;
 }
</style></title>
<p >college of engineering is placed at maniyer and mca  is a course in this college </p>
</body>
</html>

